@using School.Data.Entities

@section Styles {
	<link href="~/css/schoolDetail.css" rel="stylesheet" />
}
@{
	ViewData["Title"] = "Details";
}
@model List<Student>

<section>
	<table>
		<caption><h2>Okulun Öğrencileri</h2></caption>
		<thead>
			<tr>
				<th>Öğrenci ID</th>
				<th>Adı</th>
				<th>Sınıfı</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Student student in Model) {
				<tr>
					<td>@student.Id</td>
					<td>@student.Name</td>
					<td>@(student.Class.Degree)-@(student.Class.Name)</td>
				</tr>
			}
		</tbody>
	</table>
</section>


