@using School.Data.Entities
@using School.Dto

@section Styles {
	<link href="~/css/teacherDetail.css" rel="stylesheet" />
}
@{
	var breadcrumbs = new List<PartialRouteModel> {
		new("Ana Sayfa", "/Main/Index"),
		new("Öğretmenler","/Teachers"),
		new("Detay"),
	};
}
@model List<ClassTeacherDTO>

<section>
	<partial name="_Breadcrumb" model="breadcrumbs" />

	<div>
		<table>
			<caption><h2>Öğretmen Bilgileri</h2></caption>
			<td>
				<h4>Öğretmen Adı:</h4> @Model.FirstOrDefault()?.Teacher?.Name
			</td>
			<td>
				<h4>Branşı: </h4>@Model.FirstOrDefault()?.Teacher?.Branch
			</td>
		</table>
		<div>
			<h2>Derse Girdiği Sınıflar:</h2>
			@foreach (var classteacher in Model) {
				<ul>
					<li>@(classteacher.Class.Degree)-@(classteacher.Class.Name)</li>
				</ul>
			}
		</div>
	</div>
</section>