@using School.Data.Entities

@section Styles {
	<link href="~/css/teacherDetail.css" rel="stylesheet" />
}
@model List<ClassTeacher>

<section>
	<table>
		<caption><h2>Öğretmen Bilgileri</h2></caption>
		<td>
			<h4>Öğretmen Adı:</h4> @Model.First().Teacher.Name
		</td>
		<td>
			<h4>Branşı: </h4>@Model.First().Teacher.Branch
		</td>
	</table>
	<div>
		<h2>Derse Girdiği Sınıflar:</h2>
		@foreach (var classteacher in Model) {
			<ul>
				<li>@(classteacher.Class.Degree)-@(classteacher.Class.Name)</li>
			</ul>
		}
	</div>
</section>