@using School.Data.Entities.Concrete.University
@model IEnumerable<Department>

@section Styles {
	<link href="~/css/universityDetail.css" rel="stylesheet" />
}

<h2>Lisans Bölümleri</h2>
<section>
	@foreach (var department in Model) {
		<div>@department.Name</div>
	}
</section>
