@using School.Data.Entities.Concrete.University
@section Styles {
	<link href="~/css/university.css" rel="stylesheet" />
}
@{
	var breadcrumbs = new List<PartialRouteModel> {
		new("Ana Sayfa", "/Main/Index"),
		new("Tercih Kılavuzu"),
	};
}
@model UniversityDepartmentViewModel

<section>
	<partial name="_Breadcrumb" model="breadcrumbs" />
	<div>
		<div class="card">
			<form id="universityForm" asp-controller="University" asp-action="GetUniversityById" method="get">
				<label for="university">Üniversiteler:</label>
				<select id="university" name="universityId" required>
					<option value="" selected>Seç..</option>
					@foreach (var universities in Model.Universities) {
						<option value="@universities.Id">@universities.Name</option>
					}
				</select>
			</form>
		</div>
		<div class="card">
			<form id="departmentForm" asp-controller="University" asp-action="GetDepartmentById" method="get">
				<label for="department">Lisans Bölümleri:</label>
				<select id="department" name="departmentId" required>
					<option value="" selected>Seç..</option>
					@foreach (var departments in Model.Departments) {
						<option value="@departments.Id">@departments.Name</option>
					}
				</select>
			</form>
		</div>
	</div>
</section>
@section Scripts
{
	<script src="~/js/university.js"></script>
} 