@model List<PartialRouteModel>

@if (Model != null && Model.Any()) {
	<ul class="breadcrumb">
		@foreach (PartialRouteModel item in Model.OrderBy(x => x.CurrenPage)) {
			<li>
				@if (item.CurrenPage) {
					<span>@item.Text</span>
				}
				else {
					<a href="@item.Url">@item.Text</a>
				}
			</li>
		}
	</ul>
}
<style>
	section > .breadcrumb {
		display: flex;
		gap: 10px;
		padding: 0;
		margin-bottom: 10px;
		list-style: none;
		align-self: flex-start;
	}

		section > .breadcrumb li:not(:last-child)::after {
			content: ">";
			margin-left: 10px;
		}

		section > .breadcrumb > li a:hover {
			color: #0d6efd;
			transition: .4s;
		}

		section > .breadcrumb li, a {
			text-decoration: none;
			color: #6b7385;
		}

			section > .breadcrumb li:last-child {
				opacity: .6;
			}

</style>