@model (bool, string)

<div id="notification" class="@(Model.Item1 ? "success" : "error")">
    @Model.Item2
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var errorMessage = document.getElementById('notification');

        if (errorMessage) {
            errorMessage.classList.add('show');

            setTimeout(function () {
                errorMessage.classList.remove('show');
                errorMessage.classList.add('hide');
            }, 3000);
        }
    });
</script>
