@using School.Data.Entities;

@section Styles {
	<link href="~/css/studentlist.css" rel="stylesheet" />
}

@model List<Student>

<h1>Öğrenciler</h1>
<!-- popup -->
<div id="overlay">
	<div id="formPopUp">
		<h1>Öğrenci Düzenle</h1>
		<form>
			<input type="hidden" id="studentId" />
			<label>Öğrenci Adı</label>
			<input type="text" id="studentName" required />
			<label>Sınıf ID</label>
			<input type="text" id="classId" required />
			<span>
				<div onclick="closePopup()">İptal et</div>
				<button type="button" id="kaydet">Kaydet</button>
			</span>
		</form>
	</div>
</div>

<section>
	<table>
		<thead>
			<tr>
				<th>Öğrenci İsmi</th>
				<th>Sınıfı</th>
				<th>Okulu</th>
				<th>Bilgi</th>
				<th>Düzenle</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Student student in Model) {
				<tr>
					<td>@student.Name</td>
					<td>@(student.Class.Degree)-@(student.Class.Name)</td>
					<td>@student.Class.School.Name</td>
					<td>
						<a href="/Students/Details/@student.Id">
							<i class="fa-solid fa-circle-info"></i>
						</a>
					</td>
					<td>
						<i data-id="@student.Id" class="fa-solid fa-pen-to-square edit"></i>
					</td>
				</tr>
			}
		<tbody>
	</table>
</section>

@section Scripts
{
	<script src="~/js/student.js"></script>
}