@using School.Data.Entities;

@section Styles {
	<link href="~/css/studentlist.css" rel="stylesheet" />
}
@model List<Student>
<section>
	<table>
		<thead>
			<tr>
				<th>Öğrenci İsmi</th>
				<th>Sınıfı</th>
				<th>Okulu</th>
				<th>Bilgi</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Student student in Model) {
				<tr>
					<td>@student.Name</td>
					<td>@(student.Class.Degree)-@(student.Class.Name)</td>
					<td>@student.Class.School.Name</td>
					<td>
						<a href="/Students/Details/@student.Id">
							<i class="fa-solid fa-circle-info"></i>
						</a>
					</td>
				</tr>
			}
		<tbody>
	</table>
</section>

@section Scripts
{

}